/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.fa {
  color: #3daa79;
  padding: 36%;
  border-radius: 50%;
  background-color: white;
  margin: 6%;
}

.fa-3x {
  padding: 6%;
}

 .fa-check {
   background-color: #3daa79;
 }
